<div class="form-box-admin">
    <section>
        <h3 class="section-title">Nuevo turno</h3>

        <form [formGroup]="shift" (ngSubmit)="onSubmit()">

            <div class="mb-3 form-floating">

                <input class="form-control editLine" type="time" placeholder="Hora" formControlName="time">
                <label for="floatingInputValue">Introduce la hora</label>
            </div>

            <div class="mb-3 form-floating">


                <select formControlName="daytime" class="form-control editLine"
                    placeholder="Introduce el nombre (Day time)">
                    <option value="dinner">Dinner</option>
                    <option value="lunch">Lunch</option>
                </select>
                <!-- <input class="form-control editLine" type="select" placeholder="Introduce el nombre (Day time)"
                    formControlName="daytime"> -->
                <label for="floatingInputValue">Introduce el nombre (Day time)</label>
            </div>


            <input class="buttonCustom" type="submit">

        </form>
    </section>
</div>