<div class="form-box-admin">
    <section>
        <h3 class="section-title">Nuevo turno</h3>

        <form [formGroup]="shift" (ngSubmit)="onSubmit()">

            <div class="mb-3">
                <label class="form-label"></label>
                <input class="form-control editLine" type="text" placeholder="Hora" formControlName="time">
            </div>

            <div class="mb-3">
                <label class="form-label"></label>
                <input class="form-control editLine" type="text" placeholder="Nombre (Day time)"
                    formControlName="daytime">
            </div>

            <input class="buttonCustom" type="submit">

        </form>

    </section>
</div>