<nav>
    <ul>
        <!-- <li [routerLink]="['newreservation']">New Reservation</li> -->
        <li [routerLink]="['reservationlist']" routerLinkActive="active">Lista de reservas</li>
        <li [routerLink]="['menu']" routerLinkActive="active">Crear nuevo menú</li>
        <li [routerLink]="['menuview']" routerLinkActive="active">Ver menús</li>
        <li [routerLink]="['review']" routerLinkActive="active">Reseñas</li>
        <li [routerLink]="['spots']" routerLinkActive="active">Mesas</li>
        <li [routerLink]="['shifts']" routerLinkActive="active">Turnos</li>
    </ul>
</nav>