<div class="container-reduction-legal">
    <section>

        <h1>Política de Cookies</h1>

        <article>

            <p>CASA MIRANDA comunica a los usuarios, a través de este aviso, que puede utilizar cookies
                cuando el usuario navega por las diferentes pantallas y páginas del sitio.</p>
            <p>A través del faldón de la pantalla principal de nuestro sitio web puede aceptar o rechazar el uso
                de cookies, de acuerdo con nuestra Política de Privacidad. En caso de no aceptar cookies, solo se
                instalarán
                las mínimas necesarias para el funcionamiento de la web.</p>
            <h2>¿Qué son las cookies?</h2>
            <p>Una cookie es un archivo de texto muy pequeño que un servidor Web puede guardar en el navegador de
                un equipo para almacenar algún tipo de información sobre el usuario. La cookie identifica el equipo de
                forma
                única, y sólo puede ser leída por el sitio Web que lo envió al equipo.</p>
            <p>Una cookie no es un archivo ejecutable ni un programa y por lo tanto no puede propagar o contener
                un virus u otro software malicioso, ni puede tener una longitud superior a 4.000 caracteres.</p>
            <h2>¿Para qué sirven las cookies?</h2>
            <p>La utilización de las cookies tiene como finalidad recordar las preferencias del usuario (idioma,
                país, inicio de sesión, características de su navegador, información de uso de nuestra Web, etc.)</p>
            <p>Recordando sus preferencias no tendremos que, por ejemplo, preguntarle por su país cada vez que
                visite nuestra Web. Sabremos las características Sistema Operativo y el navegador del dispositivo que se
                está usando y así podremos ofrecerle una mejor experiencia de navegación.</p>
            <p>Las cookies pueden ayudar a nuestro sitio Web a distinguir el navegador del usuario como visitante
                anterior y así guardar y recordar las preferencias que puedan haberse establecido mientras el usuario
                estaba
                navegando por el sitio, personalizar las páginas de inicio, identificar qué sectores de un sitio han
                sido
                visitados o mantener un registro de selecciones en un carro de compra entre otros.</p>
            <p>CASA MIRANDA puede utilizar las cookies con el objeto de reconocer a los usuarios que
                hayan accedido a nuestro sitio web y poder ofrecerles un mejor servicio y más personalizado. Asimismo,
                pueden ser utilizadas para obtener información acerca de la fecha y hora de la última visita del
                usuario,
                medir algunos parámetros de tráfico dentro del propio site y estimar el número de visitas realizadas, de
                manera que CASA MIRANDA pueda enfocar y ajustar los servicios y promociones de forma más efectiva.
            </p>
            <p>Normalmente los sitios Web utilizan las cookies para obtener información estadística sobre sus
                páginas Web. Tenga en cuenta que recogemos datos sobre sus movimientos y uso de nuestra Web como datos
                estadísticos, no personales.</p>

            <h2>Finalidades de las cookies.</h2>
            <p>Le aseguramos que ninguna de ellas conserva información de
                identificación personal sobre usted. Algunas cookies personalizan su visita, otras recuerdan sus
                preferencias, mientras que otras solo nos proveen estadísticas de los visitantes.</p>
            <p>CASA MIRANDA emplea cookies de almacenamiento local, y entendemos por estas, cualquier
                fichero creado por la web en tu dispositivo de navegación. Las cookies son una forma de almacenamiento
                local, pero existen otras. Es importante que las conozcas para que puedas impedir su uso o bien borrar
                la
                información almacenada en tu dispositivo:</p>
            <p>El almacenamiento local del navegador. Algunas webs utilizan almacenamientos locales llamados
                “sessionStorage” y “localStorage” para guardar información; “sessionStorage” se borra automáticamente
                cuando
                cierras el programa navegador pero para borrar el “localStorage” debes borrar el historial del
                navegación.
            </p>
            <p>Además, tu navegador también puede almacenar de forma automática información en tu dispositivo sobre el
                historial de páginas visitadas, formularios y contraseñas y otros datos ofrecidos en formularios.</p>


            <h2>Salvaguardas de protección.</h2>
            <p>El usuario puede decidir si aceptar, o no, las cookies empleadas por el sitio web, además, puede
                configurar el navegador para que le avise cuando un servidor quiera guardar una cookie o borrarlas de su
                ordenador. En caso de aceptar cookies de terceros y se desea retirar el consentimiento sobre las mismas,
                el
                Usuario puede encontrar las instrucciones en la configuración de seguridad en su navegador Web.</p>

            <p>Puede hacer uso de la sección “Ayuda” que encontrará en la barra de herramientas de la mayoría de
                navegadores para cambiar los ajustes de su ordenador, sin embargo, algunas de las características de
                nuestros servicios online pueden no funcionar o pueden resultar más complicadas de acceder si rechaza
                todas
                las cookies.</p>


            <p>CASA MIRANDA le agradece que active la aceptación de cookies, esto nos ayuda a obtener
                datos más precisos que nos permiten mejorar el contenido y el diseño de nuestra página Web para
                adaptarlo a
                sus preferencias.</p>



            <h2>¿Actualizamos nuestra Política de Cookies?</h2>
            <p>Es posible que actualicemos la Política de Cookies de nuestro Sitio Web, por ello le recomendamos
                revisar esta política cada vez que acceda a nuestro Sitio Web con el objetivo de estar adecuadamente
                informado sobre cómo y para qué usamos las cookies.</p>
            <p>El periodo de conservación de los datos obtenidos para los diferentes fines en los términos
                establecidos en el artículo 13.2 del RGPD y en relación con el resto de información exigida en el
                artículo anteriormente mencionado, se encuentra contemplado en nuestra Política de Privacidad.</p>

        </article>

    </section>


</div>