<div class="container-reduction-legal">

    <section>

        <h1>Aviso Legal</h1>

        <article>

            <h2>General</h2>
            <p>La presente página Web ha sido diseñada para dar a conocer los servicios ofertados por la entidad
                CASA MIRANDA, con CIF X12345678 y domicilio en MADRID, 28015, MADRID, ESPAÑA,
                inscrita en el Registro Mercantil de MADRID con los siguientes datos registrales TOMO: 00000, FOLIO: 00,
                SECCIÓN: 0, HOJA: X-000000, INSCRIPCIÓN 1ª; así como para la recepción de posibles solicitudes de
                servicios
                por parte de clientes, contactos comerciales.</p>

            <h2>Comunicaciones</h2>
            <p>Para comunicarse con nosotros, ponemos a su disposición diferentes medios de contacto que
                detallamos a continuación:</p>
            <p>Email: casamiranda@gmail.com</p>
            <p>Dirección postal: MADRID, 28015, MADRID, ESPAÑA.</p>
            <p>Todas las notificaciones y comunicaciones entre los usuarios y CASA MIRANDA se
                considerarán eficaces, a todos los efectos, cuando se realicen a través de cualquier medio de los
                detallados
                anteriormente.</p>

            <h2>Propiedad intelectual e industrial</h2>
            <p>Los derechos de propiedad intelectual de la página https://casamiranda, su código fuente, diseño,
                estructuras de navegación y los distintos elementos en ella contenidos son titularidad de CASA MIRANDA,
                a
                quien corresponde el ejercicio exclusivo de los derechos de explotación de los mismos en cualquier
                forma y, en especial, los derechos de reproducción, distribución, comunicación pública y transformación,
                de
                acuerdo con la legislación española y de la unión europea aplicable.</p>
            <p>El portal de CASA MIRANDA, las páginas que comprende y la información o elementos
                contenidos en las mismas, incluyen textos, documentos, fotografías, dibujos, representaciones gráficas,
                programas informáticos, así como logotipos, marcas, nombres comerciales, u otros signos distintivos,
                protegidos por derechos de propiedad intelectual o industrial, de los que CASA MIRANDA son titulares
                o legítimas licenciatarias.</p>

            <h2>Contenidos</h2>
            <p>Se facilita a través de esta Web información acerca de servicios destinados a conocimiento público
                que en todo caso se sujetarán a los términos y condiciones expresamente detallados en cada momento y que
                son
                accesibles desde esta página Web, los cuales se sujetarán a las distintas disposiciones legales de
                aplicación.</p>

            <h2>Acceso y uso</h2>
            <p>Tanto el acceso a esta página Web, como el uso que pueda hacerse de la información y contenidos
                incluidos en la misma, será de la exclusiva responsabilidad de quien lo realice.</p>
            <p>Las condiciones de acceso a este Web estarán sometidas a la legalidad vigente y los principios de
                la buena fe y uso lícito por parte del usuario de la misma, quedando prohibido con carácter general
                cualquier tipo de actuación en perjuicio de CASA MIRANDA.</p>
            <p>Se considerará terminantemente prohibido el uso de la presente página Web con fines ilegales o no
                autorizados.</p>
            <p>Queda prohibida cualquier modalidad de explotación, incluyendo todo tipo de reproducción,
                distribución, cesión a terceros, comunicación pública y transformación, mediante cualquier tipo de
                soporte y
                medio, de las obras antes referidas, creaciones y signos distintivos sin autorización previa y expresa
                de
                sus respectivos titulares. El incumplimiento de esta prohibición podrá constituir infracción sancionable
                por
                la legislación vigente.</p>
            <p>El usuario se compromete expresamente a hacer un uso adecuado de los contenidos y servicios de
                CASA MIRANDA y a no emplearlos para dañar a otros.</p>

            <p>No obstante, por su cuenta y riesgo, el usuario podrá descargar o realizar copia de tales
                elementos exclusivamente para su uso personal, siempre que no infrinja ninguno de los derechos de
                propiedad
                intelectual o industrial de CASA MIRANDA, ni los altere total o parcialmente. En ningún caso, ello
                significará una autorización o licencia sobre los derechos de propiedad de CASA MIRANDA.</p>
            <p>Queda prohibido, salvo en los casos que expresamente lo autorice CASA MIRANDA, presentar
                las páginas de CASA MIRANDA, o la información contenida en ellas bajo frames o marcos, signos
                distintivos, marcas o denominaciones sociales o comerciales de otra persona, empresa o entidad.</p>

            <h2>Responsabilidad</h2>
            <p>CASA MIRANDA no se hace responsable bajo ningún concepto por ningún tipo de daño que
                pudiesen ocasionar los Usuarios a la presente página Web, o a cualquier otra, por el uso ilegal o
                indebido
                de la misma, o de los contenidos e informaciones accesibles o facilitadas a través de ella.</p>
            <p>Asimismo, CASA MIRANDA declina cualquier responsabilidad respecto a la información que se
                halle fuera de esta web y no sea gestionada directamente por nuestro webmaster. La función de los links
                que
                aparecen en esta web es exclusivamente la de informar al usuario sobre la existencia de otras fuentes
                susceptibles de ampliar los contenidos que ofrece este sitio web. CASA MIRANDA no garantiza ni se
                responsabiliza del funcionamiento o accesibilidad de los sitios enlazados; ni sugiere, invita o
                recomienda
                la visita a los mismos, por lo que tampoco será responsable del resultado obtenido. CASA MIRANDA no
                se responsabiliza del establecimiento de hipervínculos por parte de terceros.</p>

            <h2>Generales</h2>
            <p>Para toda cuestión litigiosa o que incumba a la Página Web de CASA MIRANDA, será de
                aplicación la legislación española, siendo competentes para la resolución de todos los conflictos
                derivados
                o relacionados con el uso de esta página Web, los Juzgados y Tribunales del domicilio del usuario. El
                acceso
                a la página Web de CASA MIRANDA implica la aceptación de todas las condiciones anteriormente
                expresadas.</p>

            <h2>Política de privacidad</h2>
            <p>El sistema de tratamiento de la información creado por CASA MIRANDA; bajo la supervisión y
                control de la misma, quien asume la responsabilidad en la adopción de medidas de seguridad de índole
                técnica
                y organizativa para proteger la confidencialidad e integridad de la información, de acuerdo con lo
                establecido en el Reglamento Europeo de Protección de Datos UE 2016/679, de 27 de Abril, del Parlamento
                y el
                Consejo; la Ley Orgánica 3/2018, de 5 de Diciembre, de Protección de Datos y Garantía de los Derechos
                Digitales y resto de la normativa nacional vigente y demás legislación aplicable. Para más información
                consulte nuestra Política de Privacidad.</p>

            <h2>Política de cookies</h2>
            <p>Una cookie es un archivo de texto muy pequeño que un servidor Web puede guardar en el navegador de
                un equipo para almacenar algún tipo de información sobre el usuario. La cookie identifica el equipo de
                forma
                única, y sólo puede ser leída por el sitio Web que lo envió al equipo.</p>
            <p>CASA MIRANDA comunica a los usuarios, a través de este aviso, que puede utilizar cookies
                cuando el usuario navega por las diferentes pantallas y páginas del sitio.</p>
            <p>A través del faldón de la pantalla principal de nuestro sitio web puede aceptar o rechazar el uso
                de cookies, de acuerdo con nuestra Política de Privacidad. En caso de no aceptar cookies, solo se
                instalarán
                las mínimas necesarias para el funcionamiento de la web. Para más información consulte nuestra política
                de
                cookies.</p>

            <h2>Hiperenlaces</h2>
            <p>Los hiperenlaces contenidos en el sitio Web de CASA MIRANDA pueden dirigir a páginas Web
                de terceros. CASA MIRANDA no asume ninguna responsabilidad por el contenido, informaciones o
                servicios que pudieran aparecer en dichos sitios, que tendrán exclusivamente carácter informativo y que
                en
                ningún caso implican relación alguna entre CASA MIRANDA y a las personas o entidades titulares de
                tales contenidos o titulares de los sitios donde se encuentren.</p>

        </article>
        <!-- /article -->



    </section>
</div>