<nav clas>
    <div class="container-fluid">
        <ul class="navigate">
            <li [routerLink]="['/']">Home</li>
            <li [routerLink]="['/']" fragment="navmenu">Menú</li>
            <li [routerLink]="['/']" fragment="footernav">Contáctanos</li>
            <li (click)="onClickReservation()">Reservar</li>
        </ul>
        <div class="logo">
            <p [routerLink]="['/']">casa Miranda</p>
        </div>
        <ul class="users">
            <li class="buttonCustom" [routerLink]="['/register']" *ngIf="!usersService.isLogged()">Registro</li>
            <li class="buttonCustom" [routerLink]="['/login']" *ngIf="!usersService.isLogged()">Iniciar sesión</li>
            <li class="icon-user" (click)="onClickNavRole()" *ngIf="usersService.isLogged()">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
            </li>
            <li class="buttonCustom" (click)="onClickLogout()" *ngIf="usersService.isLogged()">Cerrar sesión</li>
        </ul>

        <div class="line"></div>
    </div>
</nav>