header {
    position: fixed;
    width: 100vw;
    top: 0;
}

nav {
    background-color: var(--bg-color);
    font-weight: 300;
    line-height: normal;
    color: var(--main-color);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    & ul {
        display: flex;
        margin: 0rem;
    }

    & li,
    p {
        cursor: pointer;
        margin: var(--main-padding) 0;
    }
}

nav .logo {
    width: 30%;
}

nav .navigate {
    width: 30%
}

nav .users {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}