nav {
    background-color: var(--bg-color);
    font-weight: 300;
    line-height: normal;
    color: var(--main-color);
    gap: 1.875rem;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;

    & ul {
        list-style: none;
        display: flex;
        padding-left: 0rem;
        gap: 1.875rem;
    }

    & li,
    p {
        margin-bottom: 0rem;
        cursor: pointer;
        padding: var(--main-padding) 0
    }
}

nav .logo {
    width: 30%;
}

nav .navigate {
    width: 30%
}

nav .users {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}