<div class="container-fluid">
    <nav>
        <ul class="navigate">
            <li [routerLink]="['/']">Home</li>
            <li [routerLink]="['/']" fragment="navmenu">Menu</li>
            <li [routerLink]="['/']" fragment="footernav">Contact</li>
            <li (click)="onClickReservation()">Reservation</li>
        </ul>
        <div class="logo">
            <p [routerLink]="['/']">casa Miranda</p>
        </div>
        <ul class="users">
            <li class="buttonCustom" [routerLink]="['/register']" *ngIf="!usersService.isLogged()">Register</li>
            <li class="buttonCustom" [routerLink]="['/login']" *ngIf="!usersService.isLogged()">Sign in</li>
            <li [routerLink]="['user/my-reservations/my-reservations']" *ngIf="usersService.isLogged()">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
            </li>
            <li class="buttonCustom" (click)="onClickLogout()" *ngIf="usersService.isLogged()">Logout</li>
        </ul>
    </nav>
    <div class="line"></div>
</div>