@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100,0,0");



section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: var(--main-padding)
}

h3 {
    width: 100%;
}

.review-box {
    width: calc(33% - var(--main-padding));
    border-radius: 10px;
    padding: var(--main-padding);
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    color: white
}

span {
    cursor: pointer;
    font-weight: 30px;
}

article>div:last-child {
    margin-left: auto;
}