<section>
    <h3 class="section-title pt-3">Turnos</h3>

    <article *ngFor="let shift of shifts" class="review-box">
        <div>
            <p>{{shift.time.slice(0, 5)}}</p>
            <p *ngIf="shift.daytime === 'lunch'">Comida</p>
            <p *ngIf="shift.daytime === 'dinner'">Cena</p>

        </div>
        <div>
            <div (click)="edit(shift)">
                <span class="material-symbols-outlined">edit</span>
            </div>
            <div (click)="erase(shift)">
                <span class="material-symbols-outlined">cancel</span>
            </div>
        </div>
    </article>
</section>