.heroImages {
    display: flex;
    gap: var(--main-padding);


    & figure {
        width: calc(100vw - var(--double-padding));
    }
}



img {
    border-radius: var(--main-B-Radius);

}

h2 {
    margin-top: 3.5em;
}

h3 {
    cursor: pointer;
}


/* # Mobile only screen and (min-width: 480px)  */
@media (max-width: 480px) {

    .heroImages {
        display: block;


        & figure {
            width: 100%;
        }
    }

    .hero-text {
        font-size: 3rem;
        max-width: 100%;
        padding: var(--main-padding) 0;
    }


}