h2 {
    color: var(--third-color);
    font-family: 'Inter', sans-serif;
    font-size: 4.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 108%;
    /* 4.455rem */
    max-width: 50vw;
    margin: 10rem 0;
}

.heroImages {
    display: flex;
    gap: var(--main-padding);


    & figure {
        width: calc(100vw - var(--double-padding));
    }

}

img {
    border-radius: var(--main-B-Radius);

}