.heroImages {
    display: flex;
    gap: var(--main-padding);


    & figure {
        width: calc(100vw - var(--double-padding));
    }
}



img {
    border-radius: var(--main-B-Radius);

}

h2 {
    margin-top: 3.5em;
}

h3 {
    cursor: pointer;
}