<h2 class="section-title">Mis reservas</h2>

<h4>Próximas</h4>
<article *ngFor="let r of arrReservationsAfterToday">
    <p>{{r.r_date | date: 'dd/MM/yyyy'}} {{r.time!.slice(0,5)}}</p>
    <p>comensales: {{r.diners}}</p>
    <p>comentarios: {{r.notes}}</p>
    <div><i class="fa-solid fa-ban" style="color: #713636;" (click)="onClickRemove(r.id!)"></i></div>
</article>

<h4>Pasadas</h4>
<article *ngFor="let r of arrReservationsBeforeToday">
    <p>{{r.r_date | date: 'dd/MM/yyyy'}} {{r.time!.slice(0,5)}}</p>
    <p>comensales: {{r.diners}}</p>
    <p>comentarios: {{r.notes}}</p>
    <div class="buttonCustom" (click)="onClickReview(r.id!)" *ngIf="!r.review_id">Add
        review</div>
    <div *ngIf="r.review_id">Mi reseña:
        <one-review [reviewId]="r.review_id"></one-review>
    </div>
</article>