.section-title {
    margin-bottom: var(--main-padding);
}

.line {
    margin: 15px 0;
}


div span {
    cursor: pointer;
    font-size: 1.8rem;
}

.flex {
    display: flex;
    gap: var(--main-padding);
    align-items: center;
}

.right {
    margin-left: auto;
}

.buttonCustom {
    font-size: 0.9rem;
    margin-top: 0;
}

* {
    color: var(--main-color)
}

article {

    transition: 0.3s;

    &:hover {

        scale: 1.02;
    }
}

.block {
    display: flex;
    gap: var(--main-padding);
    display: block;

}

@media (max-width: 69.6875rem) {
    .block {
        display: block;
    }
}

@media (max-width: 46.875rem) {



    .buttonCustom {
        margin-top: var(--main-padding);
    }


}