p {
    color: var(--main-color);
    font-size: 0.75rem;
}

.line {
    width: 1rem;
    margin-bottom: 10px;
}

.menu-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 8rem 0;
    margin-bottom: 2rem;

}

.menu-title {
    padding: 0;
    margin-bottom: 0;
}

.menu-body {
    padding: var(--double-padding) 0;
    margin: 1rem 0;
    width: 100%;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.form-button {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    margin: 0 auto;

    &:hover {
        background-color: var(--bg-color);
        color: var(--main-color);
    }
}

.text-button {
    font-size: 0.8rem;
    transform: translateX(5px);

}


.button-icon-rotate {

    font-size: 1.1rem;
    display: inline-block;
    transform: rotate(-45deg);
}

/* 
div.buttonCustom {
    font-size: 0.75rem;
    width: max-content;
    display: inline-block
}

div.buttonCustom {
    text-align: center;
    margin: 0 auto;
    margin-top: var(--main-padding);
} */



/* .menu-right {
    padding-right: 0;
    padding-top: 0;
    padding-left: 0;
    border-left: 0;
    width: 100%;

    & div {
        margin-bottom: 0;
    }
} */