<h2 id="navmenu"></h2>

<div class="menu-box">

    <div class="menu-left">
        <div>
            <h3 class="menu-title">Menú</h3>
            <p class="pb-2">{{latestMenu?.m_date | date: 'dd/MM/yyyy'}}</p>
        </div>
        <div class="buttonCustom" [routerLink]="['/menu', latestMenu?.m_date]">
            Ver
            menús de otras fechas
        </div>
    </div>
    <section class="menu-right">

        <div>
            <h5>Primer plato</h5>
            <h3 *ngFor="let item of arrFirstCourses">{{item}}</h3>
        </div>
        <div>
            <h5>Segundo plato</h5>
            <h3 *ngFor="let item of arrMainCourses">{{item}}</h3>
        </div>
        <div>
            <h5>Postre</h5>
            <h3 *ngFor="let item of arrDesserts">{{item}}</h3>
        </div>
        <div>
            <h3>{{latestMenu.price}}€ p.p</h3>
        </div>
    </section>

</div>