<h2 id="menu"></h2>

<div class="menu-box">

    <div class="menu-left">
        <div>
            <h3 class="menu-title">Menú</h3>
            <p class="pb-2">{{mainMenu?.m_date | date: 'dd/MM/yyyy'}}</p>
        </div>


    </div>
    <section class="menu-right">

        <div>
            <h5>Primer plato</h5>
            <h3 *ngFor="let item of arrFirstCourses">{{item}}</h3>
        </div>
        <div>
            <h5>Segundo plato</h5>
            <h3 *ngFor="let item of arrMainCourses">{{item}}</h3>
        </div>
        <div>
            <h5>Postre</h5>
            <h3 *ngFor="let item of arrDesserts">{{item}}</h3>
        </div>
        <div>
            <h3>{{mainMenu?.price}}€ p.p</h3>
        </div>



    </section>
    <div class="buttonCustom d-block" (click)="onClickReservation()" [ngClass]="{'active': isReservation}">
        Reservas
    </div>


    <div class="buttonCustom d-block" [routerLink]="['/menu', mainMenu?.m_date]">
        Ver
        menús de otras fechas
    </div>

</div>