section {
    display: flex;
    flex-wrap: wrap;
    gap: var(--main-padding);
}

h3 {
    width: 100%;
}

.review-box {
    width: calc(50% - var(--double-padding));
    padding: var(--main-padding);
    background-color: var(--secondary-color);
    border: 0
}

* {
    color: var(--bg-color)
}

div>p {
    font-size: 0.75rem;
    margin-bottom: 0.125rem;
}