* {
    color: var(--main-color)
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: var(--main-padding);
}

h2 {
    color: var(--main-color)
}

.review-box {
    width: calc(51% - var(--main-padding));
    padding: var(--main-padding);
    background-color: var(--card-color);
    border: 0
}


div>p {
    font-size: 0.75rem;
    margin-bottom: 0.125rem;

}


@media(max-width: 73rem) {
    .review-box {
        width: 100%;
        max-width: 100%;
    }
}