@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100,0,0");

span {
    cursor: pointer;
    font-weight: 1.875rem;
}


article {
    width: calc(50% - 15px);
}

.flex {
    display: flex;
    justify-content: space-between;
}

article .review-box {
    min-height: 380px;
    background-color: transparent;
    color: var(--main-color)
}

.material-symbols-rounded {
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.3s;
    font-variation-settings: 'FILL' 1,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24;

    &:hover {
        color: var(--edit-color);
        font-variation-settings: 'FILL' 0,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24;
    }
}

@media (max-width: 68.125rem) {
    article {
        width: 100%
    }

    article .review-box {
        min-height: 0;
        max-width: 100%;
    }
}