<section *ngIf="menus" class="form-box-admin">
    <h3 class="section-title">Menús actuales</h3>

    <div class="d-flex flex-wrap">
        <article *ngFor="let menu of menus">
            <div class="review-box">
                <p>{{menu.m_date | date}}</p>
                <p>Primero: {{menu.first_course}}</p>
                <p>Segundo: {{menu.main_course}}</p>
                <p>Postre: {{menu.dessert}}</p>
                <p>{{menu.price}} €</p>
                <div (click)="erase(menu)">
                    <span class="material-symbols-outlined">cancel
                    </span>
                </div>
                <div (click)="edit(menu)">
                    <span class="material-symbols-outlined">edit</span>
                </div>
            </div>
        </article>


    </div>
</section>