<section>
    <h3 class="section-title">Añadir menú</h3>

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <div>
            <label>Fecha</label>
            <input type="date" formControlName="m_date" class="form-control editLine" placeholder="Fecha">
        </div>

        <div>
            <p>(Los platos incluidos en el first o en el main deben ir separados por comas)</p>
        </div>

        <div>
            <label>Primer plato</label>
            <input type="text" formControlName="first_course" class="form-control editLine" placeholder="Primer plato">
        </div>

        <div>
            <label>Segundo plato</label>
            <input type="text" formControlName="main_course" class="form-control editLine" placeholder="Segundo plato">
        </div>

        <div>
            <label>Postres</label>
            <input type="text" formControlName="dessert" class="form-control editLine" placeholder="Postres">
        </div>

        <div>
            <label>Precio</label>
            <input type="number" formControlName="price" class="form-control editLine" placeholder="Precio">
        </div>

        <div>
            <input type="submit" value="Editar menú" class="buttonCustom">
        </div>

    </form>

</section>