<section class="form-box-admin" *ngIf="previousMenu">
    <h3 class="section-title">Editar menú</h3>

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <div>
            <p>{{previousMenu.m_date | date}}</p>

        </div>



        <div class="mb-3 form-floating">
            <input type="text" formControlName="first_course" class="form-control editLine" placeholder="Primer plato">
            <label for="floatingInputValue">Primer plato</label>
        </div>

        <div class="mb-3 form-floating">
            <input type="text" formControlName="main_course" class="form-control editLine" placeholder="Segundo plato">
            <label for="floatingInputValue">Segundo plato</label>
        </div>

        <div class="mb-3 form-floating">
            <input type="text" formControlName="dessert" class="form-control editLine" placeholder="Postres">
            <label for="floatingInputValue">Postres</label>
        </div>

        <div class="mb-3 form-floating">
            <input type="number" formControlName="price" class="form-control editLine" placeholder="Precio">
            <label for="floatingInputValue">Precio</label>
        </div>

        <div class="mb-3">
            <input type="submit" value="Editar menú" class="buttonCustom">
        </div>

        <!-- <p>{{formulario.invalid}}</p> -->

    </form>

</section>