<section>
    <h3 class="section-title">Editar menú</h3>

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <div>
            <label>Date</label>
            <p>{{previousMenu.m_date | date}}</p>
            <input type="date" formControlName="m_date">
        </div>

        <div>
            <p>(Los platos incluidos en el first o en el main deben ir separados por comas)</p>
        </div>

        <div>
            <label>First Course</label>
            <input type="text" formControlName="first_course">
        </div>

        <div>
            <label>Main Course</label>
            <input type="text" formControlName="main_course">
        </div>

        <div>
            <label>Dessert</label>
            <input type="text" formControlName="dessert">
        </div>

        <div>
            <label>Price</label>
            <input type="number" formControlName="price">
        </div>

        <div>
            <input type="submit" [disabled]="formulario.invalid">
        </div>

        <p>{{formulario.invalid}}</p>

        

    </form>

</section>
