.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.stars {
    min-width: 130px;
    position: relative;
    left: -6px;
}

@media (max-width: 46.875rem) {
    .flex {
        display: block;
    }

}