html {
    scroll-behavior: smooth;
    position: relative;
}


.container-margin {
    margin-top: 6.6rem;
    margin-bottom: 10rem;
}

#fade-in-animation {
    animation: fadein 1s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}