h3 {
    margin-bottom: 3rem;
}

p {
    color: var(--dark-grey);
}

.info-contact {
    & li {
        padding-right: 3rem;
    }
}

.legal-information {
    & p {
        padding-right: 3rem;
        cursor: pointer;
    }
}

.map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius: var(--main-B-Radius);
}

.map-box {
    text-align: right;
    width: calc(50vw - var(--main-padding));
}