<div class="container-reduction-legal">

    <section>

        <h1>Política de privacidad y Protección de datos</h1>

        <article>


            <h2>General</h2>
            <p>A los efectos de lo previsto en el Reglamento Europeo de Protección de Datos UE 2016/679, de 27 de Abril,
                del
                Parlamento y el Consejo, en la Ley 3/2018, de 5 de Diciembre, de Protección de Datos y Garantía de los
                Derechos Digitales y resto de la normativa nacional vigente, CASA MIRANDA, le informa que cumple
                íntegramente con la legislación vigente en materia de protección de datos de carácter personal, y con
                los
                compromisos de confidencialidad propios de su actividad.</p>
            <p>CASA MIRANDA pone en su conocimiento la existencia de un sistema de tratamiento de la
                información,
                titularidad de CASA MIRANDA, para las finalidades propias de gestión, comunicación e
                información. El
                citado sistema se encuentra descrito en el correspondiente Registro de Actividades de Tratamiento del
                RT.
            </p>

            <h2>Recogida de datos</h2>
            <p>La aceptación de las presentes condiciones, precisa del usuario la recogida de unos datos imprescindibles
                para la prestación de sus servicios, que le serán solicitados personalmente a través de formularios o de
                la
                página Web. En el momento de la recogida de los datos, el usuario será debidamente informado de los
                derechos
                que le asisten.</p>
            <p>Para que la información que contiene nuestro sistema de tratamiento esté siempre actualizada y no
                contenga
                errores, pedimos a nuestros clientes y usuarios que nos comuniquen, a la mayor brevedad posible, las
                modificaciones y rectificaciones de sus datos de carácter personal.</p>


            <h2>Consentimiento</h2>
            <p>El usuario prestará su consentimiento para que CASA MIRANDA pueda hacer uso de sus datos
                personales a
                fin de prestar un correcto cumplimiento de los servicios contratados.</p>
            <p>La cumplimentación del formulario incluido en el sitio o el envío de correos electrónicos u otras
                comunicaciones a CASA MIRANDA, implica el consentimiento expreso del usuario a la inclusión de
                sus
                datos de carácter personal en el referido sistema de tratamiento, titularidad de CASA MIRANDA.
            </p>
            <p>Al tiempo de la petición de esta información, se comunicará al cliente o usuario del destinatario de la
                información, de la finalidad para la cual se recogen los datos, de la identidad y dirección de
                CASA MIRANDA y de la facultad del usuario de ejercitar los derechos de acceso, impugnación,
                rectificación, cancelación, supresión u oposición, portabilidad, limitación del tratamiento y a
                presentar
                reclamación ante la AEPD.</p>
            <h2>Cesión a terceros</h2>
            <p>CASA MIRANDA no cede datos de carácter personal sin el consentimiento expreso de sus titulares,
                que
                deberá ser concedido en cada ocasión, siendo sólo cedidos con la finalidad expresada y siempre con el
                consentimiento del usuario o cliente.</p>
            <h2>Confidencialidad y secreto profesional</h2>
            <p>Los datos recogidos en todas las comunicaciones privadas entre CASA MIRANDA y los clientes o
                usuarios
                serán tratados con absoluta confidencialidad, comprometiéndose CASA MIRANDA a la obligación de
                secreto de los datos de carácter personal, a su deber de guardarlos y adoptar todas las medidas
                necesarias
                que eviten su alteración, pérdida y tratamiento o acceso no autorizado, de acuerdo con lo establecido en
                la
                normativa vigente.</p>
            <p>Además, también tendrá la condición de confidencial la información de cualquier tipo que las partes
                intercambien entre sí, aquella que estas acuerden que tiene tal naturaleza, o la que simplemente verse
                sobre
                el contenido de dicha información. La visualización de datos a través de Internet, no supondrá el acceso
                directo a los mismos, salvo consentimiento expreso de su titular para cada ocasión.</p>
            <p>Recomendamos al cliente que no facilite a tercero alguno su identificación, contraseña o números de
                referencia que CASA MIRANDA pudiera proporcionarle. Asimismo, para garantizar que la protección
                del
                secreto profesional entre CASA MIRANDA y el cliente se preserve en todas las comunicaciones, el
                cliente/usuario no debe revelar la información confidencial a terceros.</p>
            <h2>Cambios en la política de seguridad y de protección de datos</h2>
            <p>CASA MIRANDA se reserva el derecho de modificar su política de seguridad y protección de datos
                con el
                objeto de adaptarlo a las novedades legislativas o jurisprudenciales, así como las que pudieran
                derivarse de
                códigos tipo existentes en la materia, o por decisiones corporativas estratégicas, con efectos de la
                fecha
                de publicación de dicha modificación en la página Web de CASA MIRANDA</p>


        </article>

    </section>


</div>