div {
    gap: var(--main-padding);

}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: calc(50% - (var(--main-padding))/2);
}


article .review-box {
    min-height: 28rem;
}

.buttonCustom {

    margin-bottom: 0;

}


@media (max-width: 70rem) {


    article {
        width: 100%;
    }

    article .review-box {
        min-height: 0px;
        max-width: 100%;
    }
}