<section class="form-box-admin">
    <h3 class="section-title pb-3">Añadir menú</h3>

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <div class="mb-3 form-floating">
            <input type="date" formControlName="m_date" class="form-control editLine" placeholder="Fecha">
            <label for="floatingInputValue">Fecha</label>
        </div>



        <div class="mb-3 form-floating">
            <input type="text" formControlName="first_course" class="form-control editLine" placeholder="Primer plato">
            <label for="floatingInputValue">Primer plato</label>
        </div>

        <div class="mb-3 form-floating">
            <input type="text" formControlName="main_course" class="form-control editLine" placeholder="Segundo plato">
            <label for="floatingInputValue">Segundo plato</label>
        </div>

        <div class="mb-3 form-floating">
            <input type="text" formControlName="dessert" class="form-control editLine" placeholder="Postre">
            <label for="floatingInputValue">Postre</label>
        </div>

        <div class="mb-3 form-floating">
            <input type="number" formControlName="price" class="form-control editLine" placeholder="Precio">
            <label for="floatingInputValue">Precio</label>
        </div>

        <div class="mb-3">
            <input type="submit" value="Crear menú" class="buttonCustom">
        </div>

    </form>

</section>




<section *ngIf="menus" class="pt-4">
    <h3 class="section-title pb-3">Seleccionar menú anterior</h3>

    <div class="flex">
        <article *ngFor="let menu of menus">
            <div class="review-box">
                <div>
                    <p>{{menu.m_date | date}}</p>
                    <p>Primero: {{menu.first_course}}</p>
                    <p>Segundo: {{menu.main_course}}</p>
                    <p>Postre: {{menu.dessert}}</p>
                    <p>{{menu.price | currency: 'EUR'}}</p>
                </div>
                <button (click)="send(menu)" value="Reutilizar menú" class="buttonCustom">Reutilizar menú</button>
            </div>
        </article>


    </div>
</section>