<section>
    <h3 class="section-title">Añadir menú</h3>

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <div>
            <label>Date</label>
            <input type="date" formControlName="m_date">
        </div>

        <div>
            <label>First Course</label>
            <input type="text" formControlName="first_course">
        </div>

        <div>
            <label>Main Course</label>
            <input type="text" formControlName="main_course">
        </div>

        <div>
            <label>Dessert</label>
            <input type="text" formControlName="dessert">
        </div>

        <div>
            <label>Price</label>
            <input type="number" formControlName="price">
        </div>

        <div>
            <input type="submit">
        </div>

    </form>

</section>




<section *ngIf="menus">
    <h3 class="section-title">Seleccionar menú anterior</h3>

    <div class="d-flex flex-wrap">
        <article *ngFor="let menu of menus">
            <div class="review-box">
                <p>{{menu.m_date | date}}</p>
                <p>Primero: {{menu.first_course}}</p>
                <p>Segundo: {{menu.main_course}}</p>
                <p>Postre: {{menu.dessert}}</p>
                <p>{{menu.price}}</p>
                <button (click)="send(menu)">Reutilizar menu</button>
            </div>
        </article>

        
    </div>
</section>