<section class="form-box-admin">
    <h3 class="section-title pb-3">Añadir menú</h3>

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <div class="mb-3 form-floating">
            <input type="date" formControlName="m_date" class="form-control editLine" placeholder="Fecha">
            <label for="floatingInputValue">Fecha</label>
        </div>



        <div class="mb-3 form-floating">
            <tag-input class="form-control editLine textarea" placeholder="Primer plato" formControlName="first_course"
                [modelAsStrings]="true">
            </tag-input>

            <label for="floatingInputValue">Primer plato</label>
        </div>

        <div class="mb-3 form-floating">
            <tag-input class="form-control editLine textarea" placeholder="Segundo plato" formControlName="main_course"
                [modelAsStrings]="true">
            </tag-input>
            <label for="floatingInputValue">Segundo plato</label>
        </div>

        <div class="mb-3 form-floating">
            <tag-input class="form-control editLine textarea" placeholder="Postre" formControlName="main_course"
                [modelAsStrings]="true">
            </tag-input>
            <label for="floatingInputValue">Postre</label>
        </div>

        <div class="mb-3 form-floating">
            <input type="number" formControlName="price" class="form-control editLine" placeholder="Precio">
            <label for="floatingInputValue">Precio</label>
        </div>

        <div class="mb-3">
            <input type="submit" value="Crear menú" class="buttonCustom">
        </div>

    </form>

</section>




<section *ngIf="menus" class="pt-4">
    <h3 class="section-title pb-3">Seleccionar menú anterior</h3>

    <div class="flex">
        <article *ngFor="let menu of menus">
            <div class="review-box d-flex flex-column justify-content-between">
                <div>
                    <p class="pb-3"><strong>{{menu.m_date | date}}</strong></p>
                    <h6>Primero:</h6>
                    <div class="pb-3">
                        <p *ngFor="let f of menu.first_course.split('-$-')">{{f}}</p>
                    </div>
                    <h6>Segundo:</h6>
                    <div class="pb-3">
                        <p *ngFor="let m of menu.main_course.split('-$-')">{{m}}</p>
                    </div>
                    <h6>Postre:</h6>
                    <div class="pb-3">
                        <p *ngFor="let d of menu.dessert.split('-$-')">{{d}}</p>
                    </div>
                    <p class="pb-1"><strong>Precio: </strong>{{menu.price}} €</p>
                </div>
                <button (click)="send(menu)" value="Reutilizar menú" class="form-button">Reutilizar menú</button>
            </div>
        </article>


    </div>
</section>