<div class="mb-3">
    <label class="section-title">Fecha de la Reserva</label>
    <input class="form-button" type="date" [(ngModel)]="date" />
</div>


<div class="mb-3">
    <label class="section-title">Turnos disponibles</label>
    <select class="buttonCustom" name="" id="" [(ngModel)]="time">
        <option>Seleccione una </option>
        <option *ngFor="let shift of arrShifts" [value]="shift.time+'-'+shift.id">{{shift.time}}</option>
    </select>

</div>

<input class="form-button" type="button" name="Mostrar Mesas" value="Mostrar Mesas" (click)="onSubmitDayAndTime()">
<div *ngIf="!showNoTables">
    <p>No hay mesas disponibles</p>
</div>
<div class="d-flex flex-column" *ngIf="!show">

    <label class="section-title">Elegir Mesa Disponible</label>

    <select class="buttonCustom" [(ngModel)]="chosenSpot" (change)="showCreateReservation()">

        <option [value]="spot.id+'-'+spot.max_seating" *ngFor="let spot of avaibleSpots">
            <p>{{spot.id}}/// </p>
            <p>{{spot.title}} /// </p>
            <p>Comensales maximos:{{spot.max_seating}} ///</p>
            <p>Detalles: {{spot.details}}</p>
        </option>
    </select>

    <!-- 
    <select name="" id="">
        <option value="">Elegir comensales</option>
        <option value="" *ngFor="let spot of avaibleSpots">
            <p>{{spot.max_seating}}</p>
        </option>
    </select> -->

    <input class="form-button" *ngIf="!showReservation" type="button" value="Crear Reserva"
        (click)="onSubmitReservation()">
</div>