<section class="container-reduction">

    <div class="form-floating">
        <select (change)="onChangeDate($event)" class="form-select" aria-label="Selecciona una fecha">
            <option selected>Selecciona la fecha para ver el menú
            </option>
            <option [value]="date" *ngFor="let date of arrMenuDates">{{date | date: 'dd/MM/yyyy'}}</option>
        </select>
        <label for="floatingSelect">Selecciona la fecha para ver el menú
        </label>
    </div>

    <div class="menu-box">
        <div class="menu-left">
            <h3 class="menu-title">Menú</h3>
            <p class="pb-2">{{currentMenu?.m_date | date: 'dd/MM/yyyy'}}</p>
        </div>
        <section class="menu-right">

            <div>
                <h5>Primer plato</h5>
                <h3 *ngFor="let item of arrFirstCourses">{{item}}</h3>
            </div>
            <div>
                <h5>Segundo plato</h5>
                <h3 *ngFor="let item of arrMainCourses">{{item}}</h3>
            </div>
            <div>
                <h5>Postre</h5>
                <h3 *ngFor="let item of arrDesserts">{{item}}</h3>
            </div>
            <div>
                <h3>{{currentMenu?.price}}€ p.p</h3>
            </div>
        </section>

    </div>

</section>