<section class="form-box-admin">
    <h3 class="section-title ">Editar turno</h3>

    <form [formGroup]="updatedShift" (ngSubmit)="onSubmit()">
        <div class="mb-3 form-floating">
            <input type="time" formControlName="time" class="form-control editLine" placeholder="Hora">
            <label class="form-label">Hora</label>
        </div>
        <div class="mb-3 form-floating">
            <input type="text" formControlName="daytime" class="form-control editLine" placeholder="daytime">
            <label class="form-label">daytime</label>
        </div>
        <div class="mb-3">
            <input type="submit" value="Guardar cambios" class="buttonCustom">
        </div>
    </form>

</section>