/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Inter:wght@200;300;400;500&family=Syne:wght@400;500;600;700&display=swap');
@import url('https: //cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');


/* 
font-family: 'Inter', sans-serif;
font-family: 'Baskervville', serif;
font-family: 'Syne', sans-serif;
 */

:root {


    /* Typography */
    --main-font: 'Inter', sans-serif;
    --secondary-font: 'Baskervville', serif;
    --joker-font: 'Syne', sans-serif;


    /* Colors */
    --main-color: #713636;
    --secondary-color: #3E5048;
    --third-color: rgb(255, 142, 93);

    --bg-color: #F5F5F4;

    --white: #ffffff;
    --light-grey: #E8E8E8;
    --dark-grey: #969696;
    --black: #1A1A1A;

    /* Spaces */
    --main-padding: 1.25rem;
    --double-padding: calc(var(--main-padding) * 2);

    /* Contents */
    --main-B-Radius: 1.25rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

body {
    background-color: var(--bg-color);
    font-family: var(--main-font);
    font-size: 1rem;
}

h1 {}

h2 {}


h3 {
    color: var(--main-color);
    font-family: Syne;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h4 {}

h5 {
    color: var(--main-color);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}


/* Clases Globales */


.logo {
    color: var(--main-color);
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 2.2rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.0525rem;
    transform: translateY(-3px);
}

.line {
    background-color: var(--main-color);
    height: 1px;
    width: 100%;
    margin: 0 auto;
}

.menu-box {
    display: flex;
    justify-content: center;
    padding: 16rem;
}

.review-box {
    max-width: 500px;
    padding: 2rem;
    border-radius: var(--main-B-Radius);
    border: 1px solid var(--main-color);

}

.form-box-users {
    width: 40vw;
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem 4rem;
    border-radius: var(--main-B-Radius);
    background-color: var(--secondary-color);
}


.error {
    color: red;
}

.buttonCustom {
    padding: 0.5rem 1.875rem;
    margin: var(--main-padding) 0;
    border-radius: 1.6875rem;
    border: 1px solid var(--main-color);
    transition: 0.4s;
    cursor: pointer;

    &:hover {
        background-color: var(--main-color);
        color: var(--light-grey);
    }
}

.form-button {
    padding: 0.5rem 1.875rem;
    margin: var(--main-padding) 0;
    border-radius: 1.6875rem;
    border: 1px solid var(--white);
    transition: 0.4s;
    background-color: var(--secondary-color);
    color: var(--white);
    cursor: pointer;


    &:hover {
        background-color: var(--white);
        color: var(--secondary-color);
    }

}

.form-title {
    color: white;
    font-family: Baskervville;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 2.5rem;
    text-align: center;
}

.form-footer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: var(--secondary-color);
    font-weight: 300;
    cursor: pointer;
}



.section-title {
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 200;
}

.menu-title {
    color: var(--main-color);
    font-family: var(--secondary-font);
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
    padding-right: 2rem;
}

.user-title {
    color: var(--main-color);
    font-family: var(--secondary-font);
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
    padding-right: 2rem;
}

.admin-title {
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
    padding-right: 2rem;
}

.footer-title {
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 3rem;
    font-style: normal;
    font-weight: 300;
    padding-right: 2rem;
}


.menu-right {
    padding-top: var(--main-padding);
    padding: var(--main-padding) 2rem 0 2rem;
    border-left: 1px solid var(--main-color);
    width: 35vw;

    & div {
        margin-bottom: var(--main-padding);
    }
}

.menu-left {
    padding: 0 2rem;

    width: 35vw;
    text-align: right;
}



.menu-price {}



.hero-text {
    color: var(--third-color);
    font-family: var(--main-font);
    font-size: 4.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 108%;
    /* 4.455rem */
    max-width: 50vw;
    margin: 10rem 0;
}

.footer-nav {
    padding: 3rem 0;
    font-weight: 300;
}


/* Clases Bootstrap Editadas */

.container-fluid {
    --bs-gutter-x: var(--main-padding);
    padding-right: var(--main-padding);
    padding-left: var(--main-padding);
}

.form-control {
    border-radius: 20rem;
    padding: .6rem .75rem;
    margin-top: 0.6rem;
}

.mb-3 {
    margin-bottom: 0rem !important;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;

}


/* Etiquetas Globales */

ul {
    list-style: none;
    padding-left: 0rem;
    gap: var(--main-padding);
}

p {
    margin-bottom: 0rem;
    font-weight: 300;
}

label {
    display: block;
}