/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Inter:wght@200;300;400;500&family=Syne:wght@400;500;600;700&display=swap');


/* 
font-family: 'Baskervville', serif;
font-family: 'Inter', sans-serif;
font-family: 'Syne', sans-serif;
 */

:root {
    /* Colors */
    --main-color: #713636;
    --secondary-color: #3E5048;
    --third-color: rgb(255, 142, 93);

    --bg-color: #F5F5F4;

    --light-grey: #E8E8E8;
    --dark-grey: #969696;
    --black: #1A1A1A;

    /* Spaces */
    --main-padding: 1.25rem;
    --double-padding: calc(var(--main-padding) * 2);

    /* Contents */
    --main-B-Radius: 1.25rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

body {
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: var(--main-padding);
}


/* Clases Globales */

.buttonCustom {
    padding: 0.75rem 1.875rem;
    border-radius: 1.6875rem;
    border: 1px solid var(--main-color);
}

.logo {
    color: var(--main-color);
    text-align: center;
    font-family: 'Baskervville', serif;
    font-size: 2.625rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.0525rem;

    margin: 0 60px;

}