<div class="container form-box-users">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <p class="form-title">Inicia sesión</p>

        <div class="mb-3">
            <label class="form-label"></label>
            <input type="text" class="form-control" placeholder="Usuario" formControlName="email">
            <p class="error" *ngIf="checkError('email', 'pattern')">
                Email incorrecto
            </p>
        </div>
        <div class="mb-3">
            <label class="form-label"></label>
            <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">

        </div>

        <div class="text-center">
            <input type="submit" value="Enviar" class="form-button">
        </div>
    </form>
</div>
<div class="form-footer">
    <p [routerLink]="['/register']">Regístrate aquí!</p>
</div>