.review-box {
    color: var(--bg-color);
    background-color: var(--secondary-color);
    border: 0px;
    flex: 1;
    min-width: 17.5rem;
    min-height: 300px;

}

small {
    font-size: 0.7rem;
    color: var(--light-grey);


}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.stars {
    min-width: 9.375rem;
}

.material-symbols-outlined {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
    font-variation-settings: 'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24;

    &:hover {
        color: var(--whitte);
        font-variation-settings: 'FILL' 0,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24;

    }
}


@media (max-width: 65.875rem) {

    .review-box {
        max-width: 100%;
        width: calc(50% - var(--main-padding));
        min-height: 200px;
    }

}

@media (max-width: 59.375rem) {
    .flex {
        display: block;
    }

    .review-box {
        max-width: 100%;
        margin-bottom: var(--main-padding);
        width: 100%;

    }

}

@media (max-width: 34.375rem) {
    .flex {
        display: block;
    }


    .review-box {
        max-width: 100%;
        margin-bottom: var(--main-padding);
        width: 100%;
    }
}