.reviewList-wrapper {
    margin-bottom: -8.5rem;
}


.review-box-slide {
    color: var(--main-color);
    background-color: var(--card-color);
    font-size: 0.9rem;
    padding: 1.5rem;
    border-radius: var(--main-B-Radius);
    border: 0px;
    margin: 0.625rem;
    flex: 1;
    min-height: 200px;
}

.reviewBox-head {
    transform: translatey(-6px);

    & small {
        transform: translatey(4px);
    }
}

.reviewBox-name {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 0.5rem;


}

.review-text {
    min-height: 180px;
    line-height: 1.3rem;
}

.reviewbox-footer p:hover {

    text-decoration: underline;
    cursor: pointer;

}

small {
    font-size: 0.9rem;
    font-weight: 300;
    color: #89a3b9;
}


.stars {
    min-width: 9.375rem;
    transform: translateX(-5px);
}

.material-symbols-outlined {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 40;

    &:hover {
        color: var(--whitte);
        font-variation-settings: 'FILL' 0,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24;

    }
}


.swiper-button-prev {
    font-size: 1.2rem;

    & div {
        margin-right: 0.1rem;
    }

}

.swiper-button-next {
    font-size: 1.2rem;

    & div {
        margin-left: 0.1rem;
    }
}

.swiper-button-hover {
    transition: 0.3s;

    &:hover {
        & .material-symbols-rounded {
            font-variation-settings: 'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24;
        }
    }
}

.swiper-content {
    margin-left: -10px;
    margin-right: -10px;

}

.reviewList-call {

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 6.5rem 0;

    & p {
        font-family: var(--hero-font);
        font-size: 2.3rem;
        line-height: 2.6rem;
        text-align: center;
        margin-bottom: 1.6rem;
    }
}

.form-button {
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
    margin: 0 auto;
    color: var(--main-color);
    text-decoration: none;

    &:hover {
        background-color: var(--main-color);
        color: var(--bg-color);
    }
}

.swiper-arrows {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    margin-left: -0.375rem;
    margin-right: -0.375rem;

    & .material-symbols-rounded {
        font-size: 1.8rem;
    }
}


@media (max-width: 48rem) {


    .reviewList-call {

        & p {

            font-size: 2rem;
            line-height: 2.4rem;
            margin-bottom: 1.6rem;
        }
    }

}

@media (max-width: 40rem) {


    .reviewList-call {
        padding: 5rem 3rem;
    }

}