<section class="form-box-admin">
    <h3 class="section-title">Reservas</h3>
    <div class="reservation-next" *ngIf="arrFutureReservations.length">
        <h4 class="">Próximas</h4>
        <div class="line"></div>
        <article *ngFor="let r of arrFutureReservations">
            <div class="flex scale">
                <div>
                    <p><strong>{{r.r_date | date: 'dd/MM/yyyy'}} {{r.time!.slice(0,5)}}</strong></p>
                    <p>Comensales: {{r.diners}}</p>
                    <p>Comentarios: {{r.notes}}</p>
                </div>
                <div>
                    <p>Nombre: {{r.name}}</p>
                    <p>Email: {{r.email}}</p>
                    <p *ngIf="r.phone_number">tel: {{r.phone_number}}</p>
                </div>
                <div class="right" (click)="onClickRemove(r.id!)">
                    <span class="material-symbols-outlined">
                        cancel
                    </span>
                </div>
            </div>
            <div class="line"></div>
        </article>
    </div>
    <div *ngIf="arrPastReservations.length">
        <h4 class="">Pasadas</h4>
        <div class="line"></div>
        <article *ngFor="let r of arrPastReservations">
            <div class="scale">
                <div class="flex">
                    <div>
                        <p><strong>{{r.r_date | date: 'dd/MM/yyyy'}} {{r.time!.slice(0,5)}}</strong></p>
                        <p>Comensales: {{r.diners}}</p>
                        <p>Comentarios: {{r.notes}}</p>
                    </div>
                    <div>
                        <p>Cliente: {{r.name}}</p>
                        <p>Email: {{r.email}}</p>
                        <p *ngIf="r.phone_number">tel: {{r.phone_number}}</p>
                    </div>
                </div>
                <div *ngIf="r.review_id" class="pt-2">
                    <p><strong>Reseña:</strong></p>
                    <one-review [reviewId]="r.review_id"></one-review>
                </div>
            </div>

            <div class="line"></div>
        </article>
    </div>
</section>