.flex {
    display: flex;
}

.flex div:first-child {
    width: 18.75rem;
}

.flex div:nth-child(2) {
    width: 17rem;
}

.right {
    width: 100%;

}

.material-symbols-outlined {
    font-size: 2rem;
    cursor: pointer;
}

* {
    color: var(--main-color)
}

article {

    transition: 0.3s;

    &:hover {

        scale: 1.02;
    }
}


/* TODO ESTAS MEDIAQUERIES DE ABAJO HAY QUE REVISARLAS: */

@media (max-width: 63.125rem) {
    .flex {
        display: inline-block;
        padding-right: 0;
    }

    .flex div {
        width: max-content;
        padding-right: 3rem;
    }

    .flex div {
        display: inline-block
    }
}


@media (max-width: 46.875rem) {

    .flex {
        display: block;
    }

    .buttonCustom {
        margin-top: var(--main-padding);
    }


}