.scale {
    transition: 0.3s;

    &:hover {

        scale: 1.02;
    }
}

.flex {
    display: flex;
}

.flex div:first-child {
    width: 18.75rem;
}

.flex div:nth-child(2) {
    width: 17rem;
}

.right {
    margin-left: auto;
}

.material-symbols-outlined {
    font-size: 2rem;
    cursor: pointer;
}

.line {
    margin: 1.1rem 0;
}

* {
    color: var(--main-color)
}




/* TODO ESTAS MEDIAQUERIES DE ABAJO HAY QUE REVISARLAS: */

@media (max-width: 63.125rem) {
    .flex {
        display: flex;
    }

    .flex div {
        width: max-content;
        padding-right: 0;
        display: inline-block
    }

    .flex div:nth-child(2),
    .flex div:first-child {
        min-width: 150px;
        padding-right: 1.2rem;
    }




}


@media (max-width: 46.875rem) {

    .flex {
        display: flex;
    }

    .buttonCustom {
        margin-top: var(--main-padding);
    }


}