<section>
    <h3>Reutilizar menú en nueva fecha</h3>


    <div class="review-box">
        <p class="pb-3"><strong>{{newMenu.m_date | date}}</strong></p>
        <h6>Primero:</h6>
        <div class="pb-3">
            <p *ngFor="let f of newMenu.first_course.split('-$-')">{{f}}</p>
        </div>
        <h6>Segundo:</h6>
        <div class="pb-3">
            <p *ngFor="let m of newMenu.main_course.split('-$-')">{{m}}</p>
        </div>
        <h6>Postre:</h6>
        <div class="pb-3">
            <p *ngFor="let d of newMenu.dessert.split('-$-')">{{d}}</p>
        </div>
        <p class="pb-1"><strong>Precio: </strong>{{newMenu.price}} €</p>
    </div>



    <div class="mb-3 form-floating">
        <input type="date" [(ngModel)]="newDate" class="form-control editLine" placeholder="Seleccionar nueva fecha">
        <label for="floatingInputValue">Seleccionar nueva fecha</label>
    </div>


    <button class="buttonCustom" (click)="send()">Guardar</button>


</section>